.idea/
*.swp
.DS_Store
dist/
node_modules/
npm-debug.log
intl.json
**/intl/
.vscode
yarn-error.log
.eslintcache
junit.xml
.now
.next/
.vercel/
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
